TestResults
ImplementationFromDafny.cs
TestsFromDafny.cs
ImplementationFromDafny-cs.dtr
TestsFromDafny-cs.dtr
**/bin
**/obj
runtimes/java/dafny
runtimes/**/encrypt-manifest.json
runtimes/**/decrypt-manifest.json
runtimes/**/keys.json
runtimes/**/ciphertexts/
runtimes/**/plaintexts/

dafny/TestVectors/test/test.json
dafny/TestVectors/test/decrypt-manifest.json

# Include some files needed for legacy testing between JS and Go
!runtimes/go/encrypt-manifest.json

# Include directory structure for Rust TestVectors
!dafny/TestVectors/test/plaintexts/
!dafny/TestVectors/test/ciphertexts/

dafny/TestVectors/test/plaintexts/*
dafny/TestVectors/test/ciphertexts/*

!dafny/TestVectors/test/plaintexts/.gitkeep
!dafny/TestVectors/test/ciphertexts/.gitkeep

!runtimes/rust/ciphertexts/
!runtimes/rust/plaintexts/

runtimes/rust/ciphertexts/*
runtimes/rust/plaintexts/*

!runtimes/rust/plaintexts/.gitkeep
!runtimes/rust/ciphertexts/.gitkeep
